{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<style>
    .container {
      text-align: center;
    }
</style>
<h1>American Sign Language Detection</h1>

<img src="static/Cover.JPEG" alt="Different Signs of American Sign Language" width="400" height="300" style="margin-top: 20px;" >

<p style="margin-top: 60px;">Please choose between recording a video online or uploading a video</p>
<p>In both cases the video should be a maximum of 1 second</p>

<a href="/Record"><button class="btn btn-primary" style="margin-left: 100px;">Record Video</button></a>
<button class="btn btn-primary" onclick="uploadFunction()">Upload Video</button>

<div id="file-upload-form" style="display: none;">
    <form action="/" method="post" enctype="multipart/form-data" onsubmit="return validateFile()">
        <input type="file" name="file" accept="video/mp4">
        <input type="submit" value="Upload">
    </form>
</div>

<script>
function uploadFunction() {
    var shownSection = document.getElementsByTagName("p")[0];
    shownSection.style.display = 'none';

    var formSection = document.getElementById('file-upload-form');
    formSection.style.display = 'block';
}

function validateFile() {
    var fileInput = document.querySelector('input[type="file"]');
    if (fileInput.files.length > 0) {
        var file = fileInput.files[0];
        var fileSize = file.size;
        var fileType = file.type;
        var fileTypeParts = fileType.split('/');
        var fileExtension = fileTypeParts[1].toLowerCase();
        var maxFileSize = 1000000; // 1MB
        var maxDuration = 1; // in seconds

        if (fileSize > maxFileSize) {
            alert('The file size should not exceed 1MB.');
            return false;
        }
        if (fileExtension !== 'mp4') {
            alert('The file should be in mp4 format.');
            return false;
        }

        var video = document.createElement('video');
        var URL = window.URL || window.webkitURL;
        video.src = URL.createObjectURL(file);
        video.onloadedmetadata = function() {
            if (video.duration > maxDuration) {
                alert('The video duration should not exceed 1 second.');
                return false;
            }
            URL.revokeObjectURL(video.src);
        };
    }
}
</script>
{% endblock %}
