{% extends "base.html" %}
{% block title %}Video Recording{% endblock %}
{% block content %}
<div style="text-align:center;">
  <h1>Please read the instructions below</h1>

  <div style="text-align: center;">
    <ul style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <li>Check the video player below to make sure you are ready</li>
      <li>When you are ready press the start recording button</li>
      <li>It will record for 5 seconds and then show you the video to choose whether to approve it or not</li>
      <li>After approving, wait for a minute and the classification will appear at the top of the page in a green box.</li>
    </ul>
  </div>

<h1 style = "text-align: center;">Webcam Video Recorder</h1>
<div id="recording-section" style="display:flex; flex-direction: column; align-items:center; justify-content: center;">
  <video id="videoPlayer" autoplay controls style="flex:1; max-width: 85%;"></video>
  <button id="startRecordingButton" style="margin-top: 50px;" class="btn btn-primary">Start Recording</button>
</div>

<div id="review-section" style="display:none; flex-direction: column; align-items:center; justify-content: center;">
<video id="reviewVideoPlayer" autoplay controls style="flex:1; max-width: 85%;"></video>
<div style="display:flex; flex-direction:column; align-items:center; justify-content:center;">
  <br>
  <br>

    <p>Do you approve this video?</p>
    <div>
      <form id="video-form" method="POST" enctype="multipart/form-data" action="/Record">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="file" id="video" name="video" accept="video/webm" style="display: none">
        <button id="approveButton" class="btn btn-primary">Approve</button>
      </form>
    <button id="recordAgainButton" class="btn btn-secondary">Record Again</button>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script>
const videoPlayer = document.getElementById('videoPlayer');
let reviewVideoPlayer = document.getElementById('reviewVideoPlayer');
const startRecordingButton = document.getElementById('startRecordingButton');
const approveButton = document.getElementById('approveButton');
const recordAgainButton = document.getElementById('recordAgainButton');
let recordingSection = document.getElementById('recording-section');
let reviewSection = document.getElementById('review-section');
const constraints = {
    video: true
};
let streamObject;
navigator.mediaDevices.getUserMedia(constraints)
    .then((stream) => {
    videoPlayer.srcObject = stream;
    window.mediaStream = stream;
    streamObject = stream;
    })
    .catch((err) => {
    console.error(err);
    });

var recordedChunks = [];

function handleDataAvailable(event) {
    recordedChunks.push(event.data);
}

async function startRecording() {
  recordedChunks = [];

  const mediaRecorder = new MediaRecorder(streamObject);
  mediaRecorder.ondataavailable = async (e) => {
    //this event is fired after stopping the recorder in couple of seconds
    //thats we was rendering an empty video so we show the video when we have data
    if(e.data.size > 0){
      recordedChunks.push(e.data);
      const recordedBlob = new Blob(recordedChunks, { type: recordedChunks[0].type });
      const recordedUrl = window.webkitURL.createObjectURL(recordedBlob);
      recordingSection.style.display = 'none';
      reviewSection.style.display = 'flex';
      reviewVideoPlayer.src = recordedUrl;
      await reviewVideoPlayer.load();
      await reviewVideoPlayer.play();
    }
  };

  await mediaRecorder.start();


  await new Promise((resolve) => {
    setTimeout(async () => {
      await mediaRecorder.stop();
      resolve();
    }, 3000);
  });

}



function approveRecording(e) {
  e.preventDefault()
  video_form = document.getElementById("video-form");
  formdata = new FormData(video_form)
  video = document.getElementById('video');
  blob = new Blob(recordedChunks, { type: recordedChunks[0].type });
  let file = new File(recordedChunks, "video.webm,",{type:"video/webm", lastModified:new Date().getTime()});
  let container = new DataTransfer();
  container.items.add(file);
  video.files = container.files;
  video_form.submit();

  {#var xhr = new XMLHttpRequest();
  xhr.open("POST", "/");
  xhr.send(formData);#}

  {#fetch('/Record', {
    method: 'POST',
    body: formData
  })
  .then((response) => {
    console.log(response)
  })
  .catch((error) => {
    console.error(error);
  });#}

  // Hide the review section and reset the video player
  reviewSection.style.display = 'none';
  reviewVideoPlayer.pause();
  reviewVideoPlayer.currentTime = 0;

 //   Show the recording section again and start recording
   recordingSection.style.display = 'flex';
//   startRecording();
}


function recordAgain() {
    reviewSection.style.display = 'none';
    recordingSection.style.display = 'flex';
    reviewVideoPlayer.pause();
    reviewVideoPlayer.currentTime = 0;
    startRecording();

}

startRecordingButton.addEventListener('click',startRecording);
approveButton.addEventListener('click', approveRecording);
recordAgainButton.addEventListener('click', recordAgain);
document.getElementById("video-form").addEventListener('submit', (event) => {event.preventDefault;}, true)
</script>
{% endblock %}
